* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.game {
	border: 2px solid #000;
	margin-top: 20px;
	border-radius: 18px;
}
body {
	background-color: #FAFAD2;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
.container {
	background-color: #FFF;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

h1 {
	padding: 8px;
	color: #006400;
}
.cobrinha {
	padding: 16px;
}

h2,
p {
	font-size: 1.5rem;
	margin-left: 18px;
}
